@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'flag-icons/css/flag-icons.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    background-color: transparent;
}
.card-body {
    height: 200px;
}
.card-body h1{
    font-size: 36px !important;
}
.form-control::placeholder, .desc-text {
    color: rgba(255, 255, 255, 0.25);
}
.form-select {
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.form-control {
    border-radius: 6px;
    height: 40px;
}
.btn-outline-success:focus,
.btn-outline-success:active,
.btn-outline-success:focus-visible {
    background-color: #0d6efd;
    color: #ffffff;
    border-color: #0d6efd;
}
.app-nav.nav-tabs {
    border-color: rgba(255, 255, 255, .55);
}
.app-nav.nav-tabs a {
    color: rgba(255, 255, 255, .55);
    border: none !important;
}
.app-nav.nav-tabs .active.nav-link, .app-nav.nav-tabs .nav-link:hover {
    background-color: transparent;
    color: #ffffff;
    border: none;
}
.spinner-border-small {
    --bs-spinner-width: 1rem!important;
    --bs-spinner-height: 1rem!important;
}
